block content
  div(ng-repeat="message in messages | orderBy : orderMessages" class="cls")
    edit-message(id="{{ message.id }}" from="{{ message.from }}" text="{{ message.text }}" 
    date="{{ message.date }}" mod-date="{{ message.modDate }}")
    hr(ng-show="!$last")
