block content
  div(align="middle")
    p usr: admin
    p pwd: admin
    form(name="loginForm" ng-controller="loginController"
         ng-submit="login(credentials)" novalidate)
      div.msg-box
        label(for="username") Username: 
        input(type="text" id="username" ng-model="credentials.username")
      div.msg-box
        label(for="password") Password: 
        input(type="password" id="password" ng-model="credentials.password")
      div.msg-box
        button(type="submit") Login