block content
  div(ng-repeat="message in messages | orderBy : orderMessages" class="message")
    message(from="{{ message.from }}" text="{{ message.text }}" date="{{ message.date }}" mod-date="{{ message.modDate }}")
    hr