body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
.newMessage {
  text-align: center;
}*/

td.newMsgBtn {
  padding: 0px;
}

table.main, table.main th, table.main td {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 550px;
}

table.main thead td.newMsgForm {
  padding: 10px;
}

table.main tbody td {
  padding: 0px 10px 0px 10px;
}

form.form-group {
  margin-bottom: 0px;
}

form div.form-group:last-of-type {
  margin-bottom: 0px;
}

div.form-group {
  padding: 0px;
  margin-bottom: 7px;
}

td.newMessage button.btn {
  border-radius: 0px;
}

.msg-box .error {
  border: 1px solid red;
  color: red;
}

input.from {
  width: 50%;
}

table.main div.message:first-of-type {
  padding-top: 15px;
}

table.main hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.admin-msg textarea {
  margin-bottom: 10px;
}

p.messageText {
  white-space: pre-wrap;
}

.admin_btns {
  text-align: right;
  margin: 0px;
}

.login-btn {
  margin-top: 15px;
  margin-bottom: 0px;
}

.adm-login {
  position: absolute;
  right: 2%;
}

.admMessage:first-of-type {
  padding-top: 10px;
}

.admMessage:last-of-type hr, .message:last-of-type hr {
  display: none;
}

.admMessage p {
  margin-top: 0px;
}

.modDate {
  font-weight: bold;
}

.modal-dialog {
  width: 350px;
}