body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.newMessage {
  text-align: center;
}

table.main, table.main th, table.main td {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 50%;
}

table.main thead td {
  padding: 10px;
}

table.main tbody td {
  padding: 0px 10px 0px 10px;
}

.msg-box {
  padding: 0px 5px 0px 0px;
  margin: 5px;
}

.msg-box .error {
  border: 1px solid red;
  color: red;
}

input, textarea {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid #CECECE;
}

textarea {
  width: 100%;
  height: 100px;
}

.admin_btns {
  text-align: right;
  margin: 0px;
}

.admMessage:first-of-type {
  padding-top: 10px;
}

.admMessage:last-of-type hr, .message:last-of-type hr {
  display: none;
}

.admMessage p {
  margin-top: 0px;
}

.modDate {
  font-weight: bold;
}