body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.newMessage {
  text-align: center;
}

table.main, table.main th, table.main td {
  padding: 10px;
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid black;
  width: 50%;
}

.msg-box {
  padding: 0px 5px 0px 0px;
  margin: 5px;
}

input, textarea {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border: 1px solid #CECECE;
}

.textarea {
  width: 100%;
  height: 100px;
}

.admin_btns {
  text-align: right;
  margin: 0px;
}

/*.slidein {
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-name: slidein;
  -webkit-animation-name: slidein;
  animation-name: slidein;
  animation-timing-function: linear;
  height: 130px;
}

.ng-hide {
  -moz-animation-duration: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -moz-animation-name: slideout;
  -webkit-animation-name: slideout;
  animation-name: slideout;
  animation-timing-function: linear;
  height: 10px;
}*/

.msg-box .error {
  border: 1px solid red;
  color: red;
}

/*@keyframes slidein {
  from {
    height: 10px;
  }

  to {
    height: 130px;
  }
}

@keyframes slideout {
  from {
    height: 130px;
  }

  to {
    height: 10px;
  }
}*/